
.header{
height: 78px;
}
.links{
    position: absolute;
    display: flex;
    list-style: none;
    padding: 15px;
    margin-left: 330px;
}
.links a{
    color:#FF0000;
    text-decoration: none;
    line-height:0;
    font-size: 25px;
    font-family: sans-serif;
    padding-left: 75px;
}
.heading{
    font-style: normal;
    font-family: Montserrat;
    font-size: 22px;
    text-align: center;
    height: 29px;
    padding: 48px;
    line-height: 27px;
    margin-left: px;
    margin-top: 48px;
    text-transform: uppercase;
    }

.text1{
    position: absolute;
    height: 132px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}

.text2{
    position: absolute;
    height: 216px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    padding-top: 175px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2.4px;

}
.button{
    text-align: center;
    position:relative;
    margin:auto;
    width: 191px;
    height: 51px;
    top: 500px;
    background: #FF0000;
    border-radius: 4px;
}
.text-button{
    margin-top: 10px;
    text-decoration: none;
    color: white;
}
.footer{
    height: 100px;
    flex-direction: row-reverse;
    margin-top:600px;
    margin-right: 50px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    letter-spacing: 3px;
    color: #373737;
}